/* display tabs (border) always, common brand colors */
.nav-tabs > li > a {
  background-color: #d6d7d9;
  border: 1px solid #e0e0e0;
  color: #000000;
}
.nav-tabs > .active > a,
.nav-tabs > a:hover {
  background-color: #f6f6f6;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 0px;
}
.navbar .brand {
  padding: 8px 20px 8px;
}
/**
 * Table colors 
 */
/* override datatables sorting color */
.table-bordered thead tr th {
  background-color: #f1f1f1;
  border-color: #dfdfdf;
  border-bottom: 0px;
}
/* even rows and odd rows */
.table-bordered tr.even td {
  background-color: #f9f9f9;
}
.table-bordered tr.odd td {
  background-color: #ffffff;
}
#list .table-bordered tbody tr:hover td {
  background-color: #d6d7d9;
  cursor: pointer;
}
